<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>
        <menuitem id="menu_product_fields"
                  name="Product Fields"
                  parent="menu_sale_integration"/>

        <menuitem id="menu_product_ecommerce_fields_mapping"
                  name="Product Fields Mapping"
                  parent="menu_product_fields"
                  action="product_ecommerce_field_mapping_action"/>

        <menuitem id="menu_product_ecommerce_fields"
                  name="All Product Fields"
                  parent="menu_product_fields"
                  action="product_ecommerce_field_action"
                  groups="base.group_no_one"/>
    </data>
</odoo>
