<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

        <menuitem id="menu_mappings"
                  name="Mappings"
                  parent="menu_sale_integration"/>

        <menuitem id="menu_taxes_mapping"
                  name="Taxes"
                  parent="menu_mappings"
                  action="integration_account_tax_mapping_action"/>

        <menuitem id="menu_attributes_mapping"
                  name="Attributes"
                  parent="menu_mappings"
                  action="integration_product_attribute_mapping_action"/>

        <menuitem id="menu_attribute_values_mapping"
                  name="Attribute Values"
                  parent="menu_mappings"
                  action="integration_product_attribute_value_mapping_action"/>

        <menuitem id="menu_shipping_methods_mapping"
                  name="Shipping Methods"
                  parent="menu_mappings"
                  action="integration_delivery_carrier_mapping_action"/>

        <menuitem id="menu_products_mapping"
                  name="Products"
                  parent="menu_mappings"
                  action="integration_product_template_mapping_action"/>

        <menuitem id="menu_variants_mapping"
                  name="Variants"
                  parent="menu_mappings"
                  action="integration_product_product_mapping_action"/>

        <menuitem id="menu_countries_mapping"
                  name="Countries"
                  parent="menu_mappings"
                  action="integration_res_country_mapping_action"/>

        <menuitem id="menu_states_mapping"
                  name="States"
                  parent="menu_mappings"
                  action="integration_res_country_state_mapping_action"/>

        <menuitem id="menu_languages_mapping"
                  name="Languages"
                  parent="menu_mappings"
                  action="integration_res_lang_mapping_action"/>

        <menuitem id="menu_payment_methods_mapping"
                  name="Payment Methods"
                  parent="menu_mappings"
                  action="integration_sale_order_payment_method_mapping_action"/>

        <menuitem id="menu_categories_mapping"
                  name="Categories"
                  parent="menu_mappings"
                  action="integration_product_public_category_mapping_action"/>

        <menuitem id="menu_contacts_mapping"
                  name="Contacts"
                  parent="menu_mappings"
                  action="integration_res_partner_mapping_action"/>

        <menuitem id="menu_orders_mapping"
                  name="Orders"
                  parent="menu_mappings"
                  action="integration_sale_order_mapping_action"/>

        <menuitem id="menu_sub-statuses_mapping"
                  name="Sub-Statuses"
                  parent="menu_mappings"
                  action="integration_sale_order_sub_status_mapping_action"/>

        <menuitem id="menu_features_mapping"
                  name="Features"
                  parent="menu_mappings"
                  action="integration_product_feature_mapping_action"/>

        <menuitem id="menu_feature_values_mapping"
                  name="Feature Values"
                  parent="menu_mappings"
                  action="integration_product_feature_value_mapping_action"/>

    </data>
</odoo>
